body{
    background-color: #100e1b;
}

#hero {
    display: flex;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url(../../asset/games/bg.jpg);
    align-items: center;    
    flex-direction: column;
    justify-content: center;
}



@media screen and (max-width: 400px){
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
}

.card .card-body {
    display: relative; /*gada display relative BLOK adanya position relative*/
}

.card .img-size {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.h1 {
    line-height: 100px;
}